{{#site.remote_fontawesome}}
<link rel="stylesheet" href="{{{site.protocol}}}//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
{{/site.remote_fontawesome}}

{{^site.remote_fontawesome}}
<link rel="stylesheet" href="{{{path.assets}}}/css/font-awesome.min.css" />
{{/site.remote_fontawesome}}