<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjtu.zs.dao.UserDao">
	<resultMap id="user" type="com.bjtu.zs.pojo.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="username" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
	</resultMap>
	<sql id="baseColumn">
		id,username,age
	</sql>
	<select id="getAllUser" resultMap="user">
		select * from user;
	</select>

	<select id="getUserByParam" parameterType="com.bjtu.zs.pojo.User"
		resultMap="user">
		select
		<include refid="baseColumn"></include>
		from user u
		<where>
			<if test="id != null">
				u.id=#{id,jdbcType=INTEGER}
			</if>
			<if test="name != null">
				and u.username=#{name,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

</mapper>